<% if notice %>
<p id="notice"><%= notice %></p>

<% end %>
<% @grandTotal = 0 %>

<h2 align="center">Your Lugnuts Shopping Cart</h2><br>
<table style="text-align: right; width:960px">
    <h4 style="text-align:center; font-size:14pt">TOTAL ITEMS IN CART: 
<span style="font-size:13pt"><%= @line_items.count %><br /><br>
<%= @lineCount %>
</span>
<% @line_items.each do |item| %>
    <tr>
<% @products.each do |product| %>
<% if product.productCode == item.product_id %>
<% if item.quantity.to_i < 1 %>
<% item.quantity = 1 %>
<% end %>
<td style="padding-left:10%; valign:top">
 <%= form_for :item, :method => :put, :url => line_item_path(item) do |f| %>
 <%= f.number_field :quantity, min: 1, :value => item.quantity %><br><br>
 <%= submit_tag "Update Quantity" %>
 <%= f.hidden_field :id, :value => item.id %><br>
 <%= f.hidden_field :product_id, :value => item.product_id %><br>
 <%= f.hidden_field :cart_id, :value => item.cart_id %><br>
 <br>
 <% end %>
</td>
<td  width="40%" style="float:left;height:35px"><%= product.productName  %></td>
<td  width="20%" style="padding-left:20px"> <%= product.buyPrice %><br><br><br><br></td>

<% @grandTotal += product.buyPrice * item.quantity.to_i %>
    </tr><% end %>
    <% end %>
    <% end %>
    
    <tr><br>
        <td  width="10%" style="padding-left:20px"></td>
        <td   width="40%" style="float:right;padding-left:20px">Order Total:</td>
        <td  width="20%" style="float:right;padding-left:20px">$<%=  @grandTotal.round(2) %></td>
        <hr></tr>
</table>

<div style="float:left; padding-left: 60%;padding-top:50px"><%= button_to 'Check Out', edit_cart_path, :method => :get, :cartid => :cartid, :class => 'button' %></div>
<div style="float:left; padding-left: 20px;padding-top:50px"><%= button_to "Empty Cart", cart_path(@cart), :method => :delete, :class => 'button' %>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</div>
