<!-- section added 2/26/2016) -->
<!--Breadcrumbs -->
<%= link_to 'Products', products_path %>  / 
<% @ProductLineName = @productLine %>
	<% case params[:id] %>
		<% when "1" then  @category = "Batteries"  %>
		<% when "2" then  @category = "Collision - Body Parts - Hardware"  %>
		<% when "3" then  @category = "Brakes"  %>
		<% when "4" then  @category = "Heating & Cooling"  %>
		<% when "5" then  @category = "Electrical - Lighting"  %>
		<% when "6" then  @category = "Accessories"  %>
	<% end %>
<%= @category %>

<!--End of Breadcrumbs -->
<!--Category Heading -->
<h1> <%= @category %></h1>

<!-- Category Results -->
<div>
<% @products.each do |product| %>
	<% if product.productLine.include? (@category) %>
		<strong>Product Line:</strong> <%= product.productLine %><br>
		<strong>Item:</strong>         <%=link_to product.productName, :action => "show", :controller => 'products', :id => product.productCode  %><br />
		<strong>Description:</strong>  <%= product.productDescription %><br>
		<strong>Price:</strong>        $<%= product.buyPrice %><br /><br>
	<% end %>
<% end %>   
</div>