<h1>Lugnuts Product Lines</h1>
<% case params[:id] %>
	<% when "1" then  @category = "Classic Cars"  %>
	<% when "2" then  @category = "Motorcycles"  %>
	<% when "3" then  @category = "Planes"  %>
	<% when "4" then  @category = "Ships"  %>
	<% when "5" then  @category = "Trains"  %>
	<% when "6" then  @category = "Trucks and Buses"  %>
	<% when "7" then  @category = "Vintage Cars"  %>
<% end %>

<h3> <%= @category %></h3><br>

<!-- this section contains product line results -->

<% @products.each do |product| %>
<% if product.productLine.include? (@category) %>
<strong>Product Line:</strong> <%= product.productLine %><br>
<strong>Item:</strong>        <%=link_to product.productName, :action => "show", :controller => 'products', :id => product.productCode  %><br />
<strong>Description:</strong> <%= product.productDescription %><br>
<strong>Price:</strong>       $<%= product.buyPrice %><br><br>
<% end %><% end %>   
