<head>
    <link href='https://fonts.googleapis.com/css?family=Passion+One:400,700' rel='stylesheet' type='text/css'>
</head>
<style>
    h1, h2{
        font-family: 'Passion One';
    }
</style>

<!-- Kim: section added 2/26/2016) -->
<!--Breadcrumbs by Kim -->
<%= link_to 'Products', products_path %>  / 
<% @ProductLineName = @productLine %>
	<% case params[:id] %>
		<% when "1" then  @category = "Batteries"  %>
		<% when "2" then  @category = "Collision - Body Parts - Hardware"  %>
		<% when "3" then  @category = "Brakes"  %>
		<% when "4" then  @category = "Heating & Cooling"  %>
		<% when "5" then  @category = "Electrical - Lighting"  %>
		<% when "6" then  @category = "Accessories"  %>
	<% end %>
<%= @category %>

<!--End of Breadcrumbs -->
<!--Category Heading -->
<h1> <%= @category %></h1>

<!-- Category Results -->
<!-- Andrew added "continue reading" & some styling -->
<!-- Kim added grid_12 to keep the products inside the container 3/2 -->
<div style="">
<% @products.each do |product| %>
	<% if product.productLine.include? (@category) %>
		<div class="grid_4" style="height:300px">
			
			<%= link_to image_tag(product.productImage, size:"150x150"), {:action => "show", :controller => 'products', :id => product.productCode} %>
<!--			<strong>Product Line:</strong> <%= product.productLine %><br> -->
			<p style="font-size:20px"><%= link_to product.productName, :action => "show", :controller => 'products', :id => product.productCode  %><br /></p>
			$<%= product.buyPrice %><br>
		<p style="padding-right:30px"><%= product.productDescription[0, 100] %>...<br>  <%=link_to " continue reading", :action => "show", :controller => 'products', :id => product.productCode  %></p>
		</div>
	<% end %>
<% end %>  
</div>
</div>