<!-- section added 2/26/2016) -->
<div align="center">
<h1> Products</h1>


<!-- this section has the product lines -->
<h3>Product Categories</h3>
  <table style="height: 300px; width: 80%">
	<tbody>
	<tr>
			<td style=" font-size: 15px"><%= link_to "Batteries", :action => "index", :controller => 'productlines', :id => "1" %><br>
			 <img src="/classiccars.png"></td>
			 <td style=" font-size: 15px"><%= link_to "Body Parts", :action => "index", :controller => 'productlines', :id => "2" %><br>
			 <img src="/classiccars.png"></td>
			 <td style=" font-size: 15px"><%= link_to "Brakes", :action => "index", :controller => 'productlines', :id => "3" %><br>
			 <img src="/classiccars.png"></td>
	</tr>
	<tr>
		     <td style=" font-size: 15px"><%= link_to "Temp Control", :action => "index", :controller => 'productlines', :id => "4" %><br>
			 <img src="/classiccars.png"></td>
			 <td style=" font-size: 215px5px"><%= link_to "Electrical - Lighting", :action => "index", :controller => 'productlines', :id => "5" %><br>
			 <img src="/classiccars.png"></td>
			 <td style=" font-size: 15px"><%= link_to "Accessories", :action => "index", :controller => 'productlines', :id => "6" %><br>
			 <img src="/classiccars.png"></td>
	</tr>
	</tbody>
</table>
</div>
