<h1> Products</h1>

<%= form_tag(searches_path, :method => "get", id: "search-form") do %>
<%= text_field_tag :search, params[:search], placeholder: "Search Products" %>
<%= submit_tag "Search", :name => nil %>
<% end %>

<!-- this section contains product search results -->
<% if params[:search] %>
<% @products.each do |product| %>
<% if product.productDescription.include? (params[:search]) %>
here is the product with <%= params[:serach] %>: <%= product.productDescription %>
<br />
<br>
<% end %><% end %> <% end %>

<!-- this section has the product lines -->
<h3>Product Categories</h3>
<div>
	<table>
		<tr>
			<td width="25%" height="100px"><img src="/classiccars.png"><br>
			 <%= link_to "Classic Cars", :action => "index", :controller => 'productlines', :id => "1" %></td>
			<td width="25%"> <img src="/motorcycle.png"><br>
				<%= link_to "Motorcycles",  :action => "index", :controller => 'productlines', :id => "2" %></td>
			<td width="25%"><img src="/plane.png"><br>
				<%= link_to "Planes", :action => "index", :controller => 'productlines', :id => "3" %></td>
		</tr>
		<tr>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td><img src="/ship.png"><br><%= link_to "Ships",   :action => "index", :controller => 'productlines', :id => "4" %></td>
			<td><img src="/train.png"><br><%= link_to "Trains",  :action => "index", :controller => 'productlines', :id => "5" %></td>
			<td><img src="/truck.png"><img src="/bus.png"><br><br><br><%= link_to "Trucks and Buses",  :action => "index", :controller => 'productlines', :id => "6" %></td>
		</tr>
		<tr>
			<td></td>
			<td width="25%" height="100px"><img src="/vintage.png"><br><%= link_to "Vintage Cars",  :action => "index", :controller => 'productlines', :id => "7" %></td>
			<td></td>
		</tr>
	</table>

</div>

<br>
