<html>
<head>
<%= stylesheet_link_tag "navbar" %>
<%= stylesheet_link_tag "reset" %>
<%= stylesheet_link_tag "960_12_col" %>
</head>

<body>

<div class="container_12">
    <div class="grid_12" style="background-color:#bb0000; height:210px">
        <img src="../LugnutsInProgress.png" style="width:250px; height:187.5px; padding:10 0 0 15">
        <img src="../LugnutsBanner.jpg" style="height:175px; width:auto; padding:30 0 0 5">


    </div>
    <div class="clear"></div> 
    <div class="grid_12" id="cssmenu">
        <ul>
            <li><%= link_to 'Home', hello_Goodbye_path %></li>
            <li><%= link_to 'Products', products_path %></li>
            <li><%= link_to 'Blog', blogs_path %></li>
            <li><%= link_to 'About Us', about_Us_path %></li>
            <li><%= link_to 'Contact Us', contact_Us_path %></li>
        </ul>
    </div>
    <div class="clear"></div>
<!-- Main Container  -->
<div id="grad" class="mainContainer">
  <%= yield%>
</div>
</body>
</html>