<!DOCTYPE html>
<html>
<head>
<div class="header">
        	<div style="float:right">
        <p  id="sameLine"><img src="/cart.png" style="float: right;width:50px; height:50px; padding-right: 50px; margin-top: 50px">
</div>
		<form method="post" style="float: right; ">
        <p><input type="text" name="login" value="" placeholder="Username or Email"></p>
        <p><input type="password" name="password" value="" placeholder="Password">
        <p  id="sameLine", class="submit"><input type="submit" name="commit" value="Login">
        <p  id="sameLine", class="submit"><input type="submit" name="commit" value="Create Account">
        </p>
      </form>
<img src="/LugnutsInProgress.png" alt="Logo" style="width:280px; height:210px">

<img src="/logo.png" style="padding-left:5%">
</p>
</p>
</div>

  <title>Lugnuts Automotive</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<div class="rightBar"></div>
<div class="leftBar"></div>


<body>
<div class="navbar">
<%= link_to 'Home', hello_Goodbye_path,:class => "navLinks" %>
<%= link_to 'Products', products_path, :class => "navLinks"  %>
<%= link_to 'Blog', blog_listing_path, :class => "navLinks"  %>
<%= link_to 'About Us', about_Us_path, :class => "navLinks"  %>
<%= link_to 'Customer Service', contact_Us_path, :class => "navLinks"  %>
</div>
<div class="mainContainer">
<%= yield %>
</div>
</body>
</html>
